:root {
  --updated-course: dodgerblue;
  --post-it-1: 2deg;
  --post-it-2: -1deg;
  --post-it-3: 1deg;
  --post-it-4: -2deg;
    --post-it-1b: -1deg;
    --post-it-2b: 2deg;
    --post-it-3b: 2deg;
    --post-it-4b: -1deg;
  --post-it-cut-1a: 35px solid hsl(120, 62%, 35%);
  --post-it-cut-1b: 20px solid hsl(45, 100%, 90%);
  --post-it-cut-2a: 35px solid hsl(120, 62%, 35%);
  --post-it-cut-2b: 30px solid hsl(45, 100%, 90%);
  --post-it-cut-3a: 40px solid hsl(120, 62%, 35%);
  --post-it-cut-3b: 25px solid hsl(45, 100%, 90%);
  --post-it-cut-4a: 25px solid hsl(120, 62%, 35%);
  --post-it-cut-4b: 35px solid hsl(45, 100%, 90%);
}

body {
  color: green;
  font-family: 'Nanum Gothic', 'Helvetica', 'Verdana', sans-serif;
  line-height: 1;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0 15px;
}
body .all-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}
  body div.desc {
    margin: 0 auto 1.5rem;
    padding: 0;
    width: 98%;
  }

img,
embed,
object,
video {
  max-width: 100%;
}
p {
  line-height: 1.5;
}
h1,
h2,
h3,
.h3,
h4,
.h4 {
  font-weight: normal;
  margin: 0 auto;
  padding: 0;
}
  h1 {
    display: inline-block;
    font-weight: bold;
  }
  h2,
  .h2 {
    line-height: 1.3;
    margin: 0.35em auto 0.2em;
    max-width: 500px;
  }
  h3,
  .h3 {
    line-height: 1.3;
    margin: 1em auto;
    max-width: 500px;
  }
  h4,
  .h4 {
    color: #43616a;
    font-style: italic;
    margin: 1em auto 0;
    text-align: center;
  }
a {
  color: #004c6a;
  font-size: 14px;
}
  a:hover,
  a:active,
  a:focus {
    color: #008cba;
    opacity: 0.8;
  }
  a.b {
    color: hsla(195, 100%, 41%, 1);
    font-weight: normal;
  }
header h1 {
  color: #43616a;
  font-size: 28px;
  line-height: 1.6;
  margin: 15px 0 5px;
  padding: 0;
}
  header h1:hover,
  header h1:active,
  header h1:focus {
    color: #008cba;
    opacity: 0.8;
  }
  #hdrLogo h1 {
    cursor: pointer;
  }
  header .h3 {
    font-size: 18px;
  }
  header .h3 a {
    font-size: 17px;
  }
.header-below {
  border-bottom: 1px solid hsla(195, 100%, 41%, 0.5);
  border-top: 1px solid hsla(195, 100%, 41%, 0.5);
  color: green;
  line-height: 1.35;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  width: 90%;
}
.header-below > div {
  margin: 0 auto;
  max-width: 650px;
}
footer {
  grid-area: pagefooter;
  margin: 0 auto;
  padding: 0 0 0 1.5rem;
  position: relative;
  text-align: center;
  width: 98%;
}
  footer .message {
    border-top: 1px solid hsla(195, 100%, 41%, 0.5);
    font-size: 14px;
    margin: 0;
    padding: 1.0rem 0 0;
  }
  footer .msg,
  footer .msg a {
    color: #999999;
    font-size: 12px;
    line-height: 1;
    margin: 0.5rem auto;
    padding: 0;
  }
  /* From: expired-to-be\public\...\popup.css */
    #button-toggle-webapp-help {
      background-color: #ffffff;
      border: 1px solid rgb(40, 150, 255);
        border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      font-size: 11px;
      padding: .5em 1.5em;
    }
    #button-toggle-webapp-help:hover {
      background-color: rgba(40, 150, 255, 0.2);
      outline: 0;
    }
    #app-message {
      padding: 0.5em;
      white-space: normal;
    }
      #app-message p {
        margin: 1em;
      }
  /* From: expired-to-be\src\index.css */
    #webapp-help {
      display: block;
      position: relative;
        bottom: 0;
      text-align: center;
      transform-origin: bottom center;
    }
      #app-message {
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgb(40, 150, 255);
        margin: 0 auto;
        max-width: 400px;
        outline: 0px;
        overflow: hidden;
        padding: 0;
        position: absolute;
          bottom: 2em;
          left: 0;
          right: 0;
          z-index: 99;
        text-align: left;
        transform: scale(1, 0);
        transform-origin: bottom center;
        transition: all 0.5s ease-out;
      }
      #app-message.open {
        transition: all 0.5s ease-in;
        transform: scale(1, 1);
      }
    @media (min-width: 675px) {
      #webapp-help {
        right: 1rem;
        text-align: right;
      }
      #app-message {
        left: inherit;
        margin: 0;
        transform-origin: bottom right;
      }
    }

    .footer-prefs-div,
    #app-message {
      max-width: 550px;
      min-width: 300px;
    }
      .input-options-with-items {
        display: inline-block;
      }

    .footer-menu-ul {
      background-color: hsla(133, 100%, 80%, 0.3);
      border-radius: 5px;
      box-shadow: 2px 2px 5px rgb(40, 150, 255);
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0.5rem 0;
    }
      .footer-menu-div.open,
      .footer-prefs-div.open {
        transition: all 0.5s ease-in;
        transform: scale(1, 1);
      }
      .footer-menu-ul li {
        background-color: hsla(133, 100%, 80%, 0.5);
        margin: 0.5rem 1.0rem;
        min-height: 30px;
        padding: 0.5rem;
      }

/* New: Page-specific */
.accordion {
  margin: 0 auto;
  max-width: 700px;
  padding: 0;
  width: 100%;
  outline: 1px solid orange;
}
.accordion li {
  vertical-align: top;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40%;
  outline: 3px solid purple;
}

/* Course Header - Host */
.accordion li:nth-child(odd) {
  outline: 1px solid blue;
}
  /* Course Header - Host Name */
  .accordion li:nth-child(odd) > div:nth-child(1) {
    color: rgba(0, 106, 176, .65);
    display: inline-block;
    font-family: 'Palanquin Dark';
  }
  /* Course Header - Completion % */
  .accordion li:nth-child(odd) > div:nth-child(2) {
    color: green;
    display: inline-block;
    font-size: 1.25em;
    font-family: 'Permanent Marker';
    font-weight: normal;
    margin: 0 0 0 2rem;
    font-style: normal;
  }

/* Courses - Primary Focus */
.accordion li:nth-child(even) {
  background-color: hsl(60, 100%, 94%);
  border: 1px solid lightblue;
  color: gray;
  max-height: 100px;
  outline: 1px solid red;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  transition: all 2.5s ease-in;
  transition-delay: 0s;
}
.accordion li:nth-child(even)::after {
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  content: '';
  height: 115px;
  position: absolute;
    top: .05rem;
    left: .05rem;
  width: 100%;
}
  .accordion li.active:nth-child(even) {
    background-color: hsl(60, 80%, 94%);
    color: green;
    max-height: 2500px;
    transition: all 15s ease-out;
  }
  .accordion li.active:nth-child(even)::after {
    animation-fill-mode: backwards;
    animation: hide-it 2.5s;
    content: '';
    height: 0px;
  }

@keyframes show-it {
  0% {
    height: 0px;
  }
  1% {
    height: 0px;
  }
  100% {
    height: 115px;
  }
}
@keyframes hide-it {
  0% {
    height: 115px;
  }
  0% {
    height: 0px;
  }
  100% {
    height: 0px;
  }
}

/* Utility Classes */

ul {
  list-style: none;
  margin: 0;
}
  ul h1 {
    font-weight: normal;
  }

.progress-top,
.progress-sub {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.progress-sub {
  background-color: rgba(0, 106, 176, .65);
  border-right: 1px solid gray;
  height: 5px;
  margin-top: 0.5rem;
}

.nowrap,
.no-wrap {
  white-space: nowrap;
}
.hide,
.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Borrowed from: My First PWA - https://github.com/KDCinfo/snippets/tree/master/pwa/your-first-pwapp */
.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.25s ease-out;
}
.loader #spinner {
  box-sizing: border-box;
  opacity: 1;
  stroke: #004c6a;
  stroke-width: 5px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 3.6s linear infinite;
          animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 3.6s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(450deg); }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    transform: rotate(0); }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0; }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    transform: rotate(90deg); }
}

.main-wrapper {
  display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.2rem;
    grid-template-areas:
      "pagetop"
      "pageleft"
      "pagefooter";
    grid-template-columns: 1fr;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  width: 98%;
  /*  250px   |   500px   */
  /* pageleft | pageright */
}
  .main-wrapper.maxit {
    grid-template-areas:
      "pagetop"
      "pageleft"
      "pageright"
      "pagefooter";
    grid-template-columns: 1fr;
    grid-template-rows: 3px auto;
  }
  .main-wrapper .content-wrapper {
    display: none;
    opacity: 0;
    transition: all 0.5s;
  }
  .main-wrapper .content-wrapper .content {
    opacity: 0;
    transition: all 0.5s;
  }

@media (min-width: 675px) {
  .main-wrapper.maxit {
    grid-template-areas:
      "pagetop pageright"
      "pageleft pageright"
      "pageleft pagefooter";
    grid-template-columns: 285px minmax(auto, 825px);
    grid-column-gap: 0.5rem;
  }
}
@media (min-width: 1076px) {
  .main-wrapper.maxit {
    grid-template-areas:
      "pagetop pageright"
      "pageleft pageright"
      "pagefooter pagefooter";
    grid-template-columns: 500px auto;
  }
}

div.page-top {
  grid-area: pagetop;
  position: relative;
}
.main-wrapper.maxit div.page-top .card-tip {
  display: none;
}
  .main-wrapper .card-tip {
    color: #43616a;
    font-style: italic;
    font-weight: normal;
    margin: 0.6em auto 0;
    padding: 0;
    text-align: center;
  }
  .main-wrapper .card-options {
    background-color: hsl(45, 100%, 95%);
    box-shadow: inset 3px 3px grey;
    border: 3px double orange;
    border-radius: 0.4rem;
    display: block;
    font-size: 0.9rem;
    margin: 0 auto;
    padding: 0.5rem 0;
    position: absolute;
      left: 0;
      right: 0;
      top: 2.75em;
      z-index: 20;
    text-align: center;
    max-width: 270px;
  }
    .main-wrapper.maxit .card-options {
      top: 1.1rem;
    }

  button.switch {
    border: 2px solid black;
    cursor: pointer;
    display: inline-block;
    font: 12px "Open Sans", "Arial", serif;
    height: 26px;
    line-height: 20px;
    margin: 0 0.25em 0 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 60px;
  }
    button.switch span {
      height: 17px;
      width: 51px;
      line-height: 1.4;
      position: absolute;
        left: 3px;
        right: 3px;
        top: 3px;
        bottom: 3px;
    }
      [role="switch"][aria-checked="false"] :first-child,
      [role="switch"][aria-checked="true"] :last-child {
        background: green;
        color: #fff;
        z-index: 1;
      }
      [role="switch"][aria-checked="false"] :last-child,
      [role="switch"][aria-checked="true"] :first-child {
        background: red;
        z-index: -1;
      }
    label.switch {
      cursor: pointer;
      font: 16px "Open Sans", "Arial", sans-serif;
      line-height: 20px;
      user-select: none;
      vertical-align: middle;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }
    .t-off {
      display: none;
    }
  button.switch:hover,
  button.switch:focus {
    background-color: orange;
  }
  label.switch:hover .button-label,
  label.switch:focus .button-label {
    text-decoration: underline;
  }

main.main {
  grid-area: pageleft;
  padding: 0 0.75rem 1rem;
  vertical-align: top;
  white-space: normal;
  /* Adding some coloring */
  background-color: hsl(45, 100%, 90%);
  box-shadow: inset 3px 3px grey;
  border: 3px double orange;
  border-radius: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto 0;
  padding: 1.25rem 0.5rem 1.5rem;
  position: relative;
  transition: all 2s;
}
  .main-wrapper.maxit main.main {
    max-height: 200px;
    overflow: auto;
  }
  .main-wrapper.maxit .content-wrapper {
    display: inline-block;
    grid-area: pageright;
    margin: 0 0 0 1.5rem;
    opacity: 1;
    padding: 1rem 0.5rem 1rem 0;
    text-align: center;
    transition: all 0.5s;
    vertical-align: top;
    width: calc(100% - 15px);
      min-width: 300px;
  }
    .content {
      margin: 0 auto;
      padding: 0;
      text-align: left;
      white-space: normal;
      width: 98%;
    }
  @media (min-width: 675px) {
    .main-wrapper.maxit main.main {
      /*max-height: calc(100vh - 130px);*/
      max-height: 100%;
      overflow: visible;
      width: calc(100% - 50px);
        min-width: 250px;
    }
  }
  @media (min-width: 1400px) {
    .main-wrapper.maxit {
      grid-column-gap: 1em;
    }
    .main-wrapper.maxit .content-wrapper {
      width: calc(100% - 15px);
    }
  }

.main-wrapper main.main .card { /* New */
  background-color: hsl(133, 100%, 80%);
  border-radius: 5px;
  cursor: pointer;
  flex: 0 1 auto;
  margin: 0.5rem;
  padding: 0;
  position: relative;
    min-height: 100px;
    width: 200px;
  transition: top 0.5s, left 0.5s, transform 0.5s;
}
  .main-wrapper main.main .card.active,
  .main-wrapper main.main .card.active:hover {
      background-color: hsl(193, 100%, 90%);
  }
  .main-wrapper main.main .card > span {
    color: var(--updated-course);
    display: inline-block;
    font-family: 'Permanent Marker';
    font-size: 22px;
    font-weight: normal;
    margin: 0 0 0.75rem 1.0rem;
    padding: 0;
  }
  .main-wrapper main.main .card:before {
    content: '';
    position: absolute;
      right: -1px;
      top: -1px;
    width: 1px;
  }

  /* 'Cut Corners' thanks to: [Joseph Silber](https://stackoverflow.com/a/7324826/638153) */
  .main-wrapper main.main .card:nth-child(1):before,
  .main-wrapper main.main .card:nth-child(5):before,
  .main-wrapper main.main .card:nth-child(9):before,
  .main-wrapper main.main .card:nth-child(13):before,
  .main-wrapper main.main .card:nth-child(17):before,
  .main-wrapper main.main .card:nth-child(21):before,
  .main-wrapper main.main .card:nth-child(25):before,
  .main-wrapper main.main .card:nth-child(29):before,
  .main-wrapper main.main .card:nth-child(33):before,
  .main-wrapper main.main .card:nth-child(37):before,
  .main-wrapper main.main .card:nth-child(41):before,
  .main-wrapper main.main .card:nth-child(45):before,
  .main-wrapper main.main .card:nth-child(49):before,
  .main-wrapper main.main .card:nth-child(53):before,
  .main-wrapper main.main .card:nth-child(57):before,
  .main-wrapper main.main .card:nth-child(61):before {
    border-left: var(--post-it-cut-1a);
    border-top: var(--post-it-cut-1b);
  }
  .main-wrapper main.main .card:nth-child(2):before,
  .main-wrapper main.main .card:nth-child(6):before,
  .main-wrapper main.main .card:nth-child(10):before,
  .main-wrapper main.main .card:nth-child(14):before,
  .main-wrapper main.main .card:nth-child(18):before,
  .main-wrapper main.main .card:nth-child(22):before,
  .main-wrapper main.main .card:nth-child(26):before,
  .main-wrapper main.main .card:nth-child(30):before,
  .main-wrapper main.main .card:nth-child(34):before,
  .main-wrapper main.main .card:nth-child(38):before,
  .main-wrapper main.main .card:nth-child(42):before,
  .main-wrapper main.main .card:nth-child(46):before,
  .main-wrapper main.main .card:nth-child(50):before,
  .main-wrapper main.main .card:nth-child(54):before,
  .main-wrapper main.main .card:nth-child(58):before,
  .main-wrapper main.main .card:nth-child(62):before {
    border-left: var(--post-it-cut-2a);
    border-top: var(--post-it-cut-2b);
  }
  .main-wrapper main.main .card:nth-child(3):before,
  .main-wrapper main.main .card:nth-child(7):before,
  .main-wrapper main.main .card:nth-child(11):before,
  .main-wrapper main.main .card:nth-child(15):before,
  .main-wrapper main.main .card:nth-child(19):before,
  .main-wrapper main.main .card:nth-child(23):before,
  .main-wrapper main.main .card:nth-child(27):before,
  .main-wrapper main.main .card:nth-child(31):before,
  .main-wrapper main.main .card:nth-child(35):before,
  .main-wrapper main.main .card:nth-child(39):before,
  .main-wrapper main.main .card:nth-child(43):before,
  .main-wrapper main.main .card:nth-child(47):before,
  .main-wrapper main.main .card:nth-child(51):before,
  .main-wrapper main.main .card:nth-child(55):before,
  .main-wrapper main.main .card:nth-child(59):before,
  .main-wrapper main.main .card:nth-child(63):before {
    border-left: var(--post-it-cut-3a);
    border-top: var(--post-it-cut-3b);
  }
  .main-wrapper main.main .card:nth-child(4):before,
  .main-wrapper main.main .card:nth-child(8):before,
  .main-wrapper main.main .card:nth-child(12):before,
  .main-wrapper main.main .card:nth-child(16):before,
  .main-wrapper main.main .card:nth-child(20):before,
  .main-wrapper main.main .card:nth-child(24):before,
  .main-wrapper main.main .card:nth-child(28):before,
  .main-wrapper main.main .card:nth-child(32):before,
  .main-wrapper main.main .card:nth-child(36):before,
  .main-wrapper main.main .card:nth-child(40):before,
  .main-wrapper main.main .card:nth-child(44):before,
  .main-wrapper main.main .card:nth-child(48):before,
  .main-wrapper main.main .card:nth-child(52):before,
  .main-wrapper main.main .card:nth-child(56):before,
  .main-wrapper main.main .card:nth-child(60):before,
  .main-wrapper main.main .card:nth-child(64):before {
    border-left: var(--post-it-cut-4a);
    border-top: var(--post-it-cut-4b);
  }

  /* POST-IT NOTE ROTATIONS */

  .main-wrapper main.main .card:nth-child(1),
  .main-wrapper main.main .card:nth-child(5),
  .main-wrapper main.main .card:nth-child(9),
  .main-wrapper main.main .card:nth-child(13),
  .main-wrapper main.main .card:nth-child(17),
  .main-wrapper main.main .card:nth-child(21),
  .main-wrapper main.main .card:nth-child(25),
  .main-wrapper main.main .card:nth-child(29),
  .main-wrapper main.main .card:nth-child(33),
  .main-wrapper main.main .card:nth-child(37),
  .main-wrapper main.main .card:nth-child(41),
  .main-wrapper main.main .card:nth-child(45),
  .main-wrapper main.main .card:nth-child(49),
  .main-wrapper main.main .card:nth-child(53),
  .main-wrapper main.main .card:nth-child(57),
  .main-wrapper main.main .card:nth-child(61) {
    transform: rotate(var(--post-it-1b));
  }
  .main-wrapper main.main .card:nth-child(2),
  .main-wrapper main.main .card:nth-child(6),
  .main-wrapper main.main .card:nth-child(10),
  .main-wrapper main.main .card:nth-child(14),
  .main-wrapper main.main .card:nth-child(18),
  .main-wrapper main.main .card:nth-child(22),
  .main-wrapper main.main .card:nth-child(26),
  .main-wrapper main.main .card:nth-child(30),
  .main-wrapper main.main .card:nth-child(34),
  .main-wrapper main.main .card:nth-child(38),
  .main-wrapper main.main .card:nth-child(42),
  .main-wrapper main.main .card:nth-child(46),
  .main-wrapper main.main .card:nth-child(50),
  .main-wrapper main.main .card:nth-child(54),
  .main-wrapper main.main .card:nth-child(58),
  .main-wrapper main.main .card:nth-child(62) {
    transform: rotate(var(--post-it-2b));
  }
  .main-wrapper main.main .card:nth-child(3),
  .main-wrapper main.main .card:nth-child(7),
  .main-wrapper main.main .card:nth-child(11),
  .main-wrapper main.main .card:nth-child(15),
  .main-wrapper main.main .card:nth-child(19),
  .main-wrapper main.main .card:nth-child(23),
  .main-wrapper main.main .card:nth-child(27),
  .main-wrapper main.main .card:nth-child(31),
  .main-wrapper main.main .card:nth-child(35),
  .main-wrapper main.main .card:nth-child(39),
  .main-wrapper main.main .card:nth-child(43),
  .main-wrapper main.main .card:nth-child(47),
  .main-wrapper main.main .card:nth-child(51),
  .main-wrapper main.main .card:nth-child(55),
  .main-wrapper main.main .card:nth-child(59),
  .main-wrapper main.main .card:nth-child(63) {
    transform: rotate(var(--post-it-3b));
  }
  .main-wrapper main.main .card:nth-child(4),
  .main-wrapper main.main .card:nth-child(8),
  .main-wrapper main.main .card:nth-child(12),
  .main-wrapper main.main .card:nth-child(16),
  .main-wrapper main.main .card:nth-child(20),
  .main-wrapper main.main .card:nth-child(24),
  .main-wrapper main.main .card:nth-child(28),
  .main-wrapper main.main .card:nth-child(32),
  .main-wrapper main.main .card:nth-child(36),
  .main-wrapper main.main .card:nth-child(40),
  .main-wrapper main.main .card:nth-child(44),
  .main-wrapper main.main .card:nth-child(48),
  .main-wrapper main.main .card:nth-child(52),
  .main-wrapper main.main .card:nth-child(56),
  .main-wrapper main.main .card:nth-child(60),
  .main-wrapper main.main .card:nth-child(64) {
    transform: rotate(var(--post-it-4b));
  }

  @media (min-width: 675px) {
    .main-wrapper main.main .card:nth-child(1),
    .main-wrapper main.main .card:nth-child(5),
    .main-wrapper main.main .card:nth-child(9),
    .main-wrapper main.main .card:nth-child(13),
    .main-wrapper main.main .card:nth-child(17),
    .main-wrapper main.main .card:nth-child(21),
    .main-wrapper main.main .card:nth-child(25),
    .main-wrapper main.main .card:nth-child(29),
    .main-wrapper main.main .card:nth-child(33),
    .main-wrapper main.main .card:nth-child(37),
    .main-wrapper main.main .card:nth-child(41),
    .main-wrapper main.main .card:nth-child(45),
    .main-wrapper main.main .card:nth-child(49),
    .main-wrapper main.main .card:nth-child(53),
    .main-wrapper main.main .card:nth-child(57),
    .main-wrapper main.main .card:nth-child(61) {
      transform: rotate(var(--post-it-1));
    }
    .main-wrapper main.main .card:nth-child(2),
    .main-wrapper main.main .card:nth-child(6),
    .main-wrapper main.main .card:nth-child(10),
    .main-wrapper main.main .card:nth-child(14),
    .main-wrapper main.main .card:nth-child(18),
    .main-wrapper main.main .card:nth-child(22),
    .main-wrapper main.main .card:nth-child(26),
    .main-wrapper main.main .card:nth-child(30),
    .main-wrapper main.main .card:nth-child(34),
    .main-wrapper main.main .card:nth-child(38),
    .main-wrapper main.main .card:nth-child(42),
    .main-wrapper main.main .card:nth-child(46),
    .main-wrapper main.main .card:nth-child(50),
    .main-wrapper main.main .card:nth-child(54),
    .main-wrapper main.main .card:nth-child(58),
    .main-wrapper main.main .card:nth-child(62) {
      transform: rotate(var(--post-it-2));
    }
    .main-wrapper main.main .card:nth-child(3),
    .main-wrapper main.main .card:nth-child(7),
    .main-wrapper main.main .card:nth-child(11),
    .main-wrapper main.main .card:nth-child(15),
    .main-wrapper main.main .card:nth-child(19),
    .main-wrapper main.main .card:nth-child(23),
    .main-wrapper main.main .card:nth-child(27),
    .main-wrapper main.main .card:nth-child(31),
    .main-wrapper main.main .card:nth-child(35),
    .main-wrapper main.main .card:nth-child(39),
    .main-wrapper main.main .card:nth-child(43),
    .main-wrapper main.main .card:nth-child(47),
    .main-wrapper main.main .card:nth-child(51),
    .main-wrapper main.main .card:nth-child(55),
    .main-wrapper main.main .card:nth-child(59),
    .main-wrapper main.main .card:nth-child(63) {
      transform: rotate(var(--post-it-3));
    }
    .main-wrapper main.main .card:nth-child(4),
    .main-wrapper main.main .card:nth-child(8),
    .main-wrapper main.main .card:nth-child(12),
    .main-wrapper main.main .card:nth-child(16),
    .main-wrapper main.main .card:nth-child(20),
    .main-wrapper main.main .card:nth-child(24),
    .main-wrapper main.main .card:nth-child(28),
    .main-wrapper main.main .card:nth-child(32),
    .main-wrapper main.main .card:nth-child(36),
    .main-wrapper main.main .card:nth-child(40),
    .main-wrapper main.main .card:nth-child(44),
    .main-wrapper main.main .card:nth-child(48),
    .main-wrapper main.main .card:nth-child(52),
    .main-wrapper main.main .card:nth-child(56),
    .main-wrapper main.main .card:nth-child(60),
    .main-wrapper main.main .card:nth-child(64) {
      transform: rotate(var(--post-it-4));
    }
  }

.main-wrapper main.main .item-node {
  margin: 1rem 0.5rem 0.2rem;
  max-width: 250px;
}
  @media (min-width: 1400px) {
    .main-wrapper main.main .item-node {
      margin: 1rem 0.5rem;
    }
  }
  .main-wrapper main.main .card:hover {
    background-color: hsla(120, 100%, 75%, 0.95);
    transform: scale(1.05);
    transition: transform 0.4s cubic-bezier(0.1, -2, 0.5, 1);
  }

  .main-wrapper main.main > div.item-node {
    visibility: hidden;
  }
  .main-wrapper main.main > div.item-dupe {
    position: absolute;
    visibility: visible;
  }

  .main-wrapper main.main .card > div {
    margin: 0.5rem;
    padding: 0;
  }

  .c-courseVendorName {
    font-weight: bold;
  }
  .c-courseVendorName,
  .c-courseVendor {
    /*color: rgba(0, 106, 176, .65);*/
    color: rgb(200, 50, 150);
    font-family: 'Palanquin Dark';
    width: calc(100% - 1rem);
  }
  .c-courseProgress,
  .c-courseDateLast {
    color: green;
    font-family: 'Permanent Marker';
    font-size: 1.15em;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  .c-courseProgress::after {
    content: '%';
  }

/**
 *
 * Course Content (on right)
 *
 */

.close-it {
  background-color: lightblue;
  border-radius: 10px;
  box-shadow: 2px 2px;
  cursor: pointer;
  margin: 0rem auto 1rem;
  padding: 0.5rem;
  width: 250px;
}
.close-it:hover {
  background-color: hsla(195, 53%, 79%, 0.6);
}
@media (min-width: 675px) {
  .close-it {
    margin: 0 0 1rem 0.25rem;
  }
}

.cc-courseList,
.course {
  position: relative;
}
  .expand-it {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 2px 2px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    line-height: 1;
    margin: 2px 0 0 4px;
    padding: 0.25rem;
    position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    text-align: center;
    width: 30px;
  }
  .expand-it:hover {
    background-color: hsl(194, 53%, 87%);
  }
  .c-listheader {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 0 0.75rem;
  }

.content-wrapper .content {
  line-height: 1.5;
}
.content-wrapper .content label {
  background-color: hsla(133, 100%, 80%, 0.3);
  border-bottom: 2px solid lightgreen;
  display: inline-block;
  font-weight: bold;
  margin: 0 0 0.25rem;
  min-width: 150px;
  padding: .5rem;
}
.content-wrapper .content span {
  color: darkblue;
}
.cc-courseDesc,
.cc-courseList {
  color: darkblue;
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.25rem;
}

.cl-courseClassTitle,
.cl-courseClassProgress,
.cl-courseClassContent {
  /*outline: 1px solid red;*/
}
.cc-courseProgress::after,
.cl-courseClassProgress::after {
  content: '%';
}
.course.course-node {
  border-bottom: 1px solid lightgreen;
  border-left: 2px solid lightgreen;
  margin: 0 0 1rem;
  padding: 0;
}
  .c-expandable {
    margin: 0;
    padding: 0.25rem 0.5rem;
    max-height: 62px;
    overflow: auto;
    transition: all 0.25s;
  }
    .c-listheader {
      margin-left: 50px;
    }

.cl-courseClassContent {
  font-size: 14px;
}
  .cl-courseClassContent p {
    line-height: 1.3;
    margin: 0.6rem 0;
  }
  .cc-courseList .progress {
    font-weight: bold;
  }
  .cc-courseList .progress.done {
    font-size: 13px;
    font-weight: normal;
    text-decoration: line-through;
  }
